.rwmb-field .select2-container {
	height: auto;
	min-width: 200px;
}
#mnbody .rwmb-select-all {
	display: block;
	margin-top: 5px;
}
#mnbody .select2-selection--single,
#mnbody .select2-selection--multiple,
.select2-dropdown {
	border-color: #ddd;
}
