/*** Mtaandao Shortcodes - media elements ***/

/* Container for responsive media elements */

.sm-responsive-media-yes {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.sm-responsive-media-yes iframe,
.sm-responsive-media-yes object,
.sm-responsive-media-yes embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*		YouTube
---------------------------------------------------------------*/

.sm-youtube { margin: 0 0 1.5em 0 }
.sm-youtube iframe { border: none !important }

/*		Vimeo
---------------------------------------------------------------*/

.sm-vimeo { margin: 0 0 1.5em 0 }
.sm-vimeo iframe { border: none !important }

/*		Screenr
---------------------------------------------------------------*/

.sm-screenr { margin: 0 0 1.5em 0 }
.sm-screenr iframe { border: none !important }

/*		Dailymotion
---------------------------------------------------------------*/

.sm-dailymotion { margin: 0 0 1.5em 0 }
.sm-dailymotion iframe { border: none !important }

/*		Document
---------------------------------------------------------------*/

.sm-document { margin: 0 0 1.5em 0 }
.sm-document iframe { border: none !important }

/*		Gmap
---------------------------------------------------------------*/

.sm-gmap { margin: 0 0 1.5em 0 }
.sm-gmap iframe { border: none !important }