<h2>Different animation types</h2>

[%sm_animate type="bounceIn" delay="1"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="flipInX" delay="2"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="flipInY" delay="3"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="fadeInDown" delay="4"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="fadeInLeft" delay="5"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="fadeInRight" delay="6"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]
[%sm_animate type="fadeInUp" delay="7"] [%sm_note] Animated text [/%sm_note] [/%sm_animate]

-----

<h2>Animated columns</h2>

[%sm_row]
	[%sm_column size="1/2"]
		[%sm_animate type="fadeInLeft" delay="1" duration="1.5"] [%sm_box] Column content [/%sm_box] [/%sm_animate]
	[/%sm_column]
	[%sm_column size="1/2"]
		[%sm_animate type="fadeInRight" delay="1" duration="1.5"] [%sm_box] Column content [/%sm_box] [/%sm_animate]
	[/%sm_column]
[/%sm_row]

-----

<h2>Animated buttons</h2>

[%sm_animate delay="1" inline="yes"] [%sm_button] Click me [/%sm_button] [/%sm_animate] [%sm_animate delay="2" inline="yes"] [%sm_button] Click me [/%sm_button] [/%sm_animate] [%sm_animate delay="3" inline="yes"] [%sm_button] Click me [/%sm_button] [/%sm_animate]

-----

<h2>Animated tabs</h2>

[%sm_tabs]
	[%sm_tab title="Tab title"] [%sm_animate type="fadeInUp"] Tab content [/%sm_animate] [/%sm_tab]
	[%sm_tab title="Tab title"] [%sm_animate type="fadeInUp"] Tab content [/%sm_animate] [/%sm_tab]
	[%sm_tab title="Tab title"] [%sm_animate type="fadeInUp"] Tab content [/%sm_animate] [/%sm_tab]
[/%sm_tabs]