<h2>Basic example</h2>

[%sm_box title="This is a box with nested spoilers"]
	[%sm_spoiler title="Spoiler title"] Spoiler content [/%sm_spoiler]
	[%sm_spoiler title="Spoiler title"] Spoiler content [/%sm_spoiler]
	[%sm_spoiler title="Spoiler title"] Spoiler content [/%sm_spoiler]
[/%sm_box]

-----

<h2>The same nested shortcodes</h2>

[%sm_spoiler title="Click me to see nested spoilers" style="fancy"]
	[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
	[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
	[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
[/%sm_spoiler]

-----

<h2>The same nested shortcodes mixed with other shortcodes</h2>

[%sm_spoiler title="Click me to see nested accordion" style="fancy"]
	[%sm_accordion]
		[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
		[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
		[_%sm_spoiler title="Spoiler title"] Spoiler content [_/%sm_spoiler]
	[/%sm_accordion]
[/%sm_spoiler]

-----

<h2>Shortcodes inside of attributes</h2>

To use shortcodes inside of attributes you need to replace square brackets with <code>{</code> and <code>}</code>. Open code to see example

[%sm_button url="{shortcode attribute='value'}"] Button [/%sm_button]